#
# Cypress touchkey configuration
#

config KEYBOARD_CYPRESS_TOUCH_20075
	tristate "Cypress touchkey support"
	help
	  Say Y here to enable the cypress touchkey.

	  To compile this driver as a module, choose M here.

config KEYBOARD_CYPRESS_TOUCH_MBR31X5
	tristate "Cypress touchkey support"
	help
	  Say Y here to enable the cypress touchkey.

	  To compile this driver as a module, choose M here.

config KEYBOARD_THD_CHANGE_AS_FINGERPRINT
	tristate "Cypress touchkey support"
	help
	  Say Y here to enable thd change func.
	  To avoid noise of fingerprint transfer, apply upper thd to touchkey

	  To compile this driver as a module, choose M here.
