#
# STMicroelectronics TOUCH driver configuration
#

config TOUCHSCREEN_FTS7
	tristate "STMicroelectronics i2c multitouch touchscreen with FingerTipS"
	depends on I2C
	help
		Say Y here to enable STMicroelectronics touchscreen support.
		If unsure, say N.
		To compile this driver as a module, choose M here: the
		module will be called STM_ts.

config TOUCHSCREEN_FTS7_VALLEY
	tristate "STMicroelectronics i2c multitouch touchscreen with FingerTipS"
	depends on I2C
	help
		Say Y here to enable STMicroelectronics touchscreen for valley model support.
		If unsure, say N.
		To compile this driver as a module, choose M here: the
		module will be called STM_ts.

config TOUCHSCREEN_FTS7_HAECHI
	tristate "STMicroelectronics i2c multitouch touchscreen with FingerTipS"
	depends on I2C
	help
		Say Y here to enable STMicroelectronics touchscreen for haechi model support.
		If unsure, say N.
		To compile this driver as a module, choose M here: the
		module will be called STM_ts.

