#
# TZ iccc configuration
#
config TZ_ICCC_MOS_SUPPORT
	def_bool ANDROID_VERSION = "60001"

config TZ_ICCC_NOS_SUPPORT
	def_bool ANDROID_VERSION = "70000"

config TZ_ICCC
	bool "TZ ICCC"
	depends on TIMA && (TZ_ICCC_MOS_SUPPORT || TZ_ICCC_NOS_SUPPORT)
	default n
	---help---
	Provide kernel api for reading and writing ICCC secure parameters.