#
# (C) COPYRIGHT 2012-2013, 2017 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, you can access it online at
# http://www.gnu.org/licenses/gpl-2.0.html.
#
# SPDX-License-Identifier: GPL-2.0
#
#



# Add your platform specific Kconfig file here
#
# "drivers/gpu/arm/.../platform/Kconfig"
#
# Where xxx is the platform name is the name set in MALI_PLATFORM_THIRDPARTY_NAME
#
config EXYNOS_SOC_NAME
    depends on MALI_T8XX
    string "Third party soc name"
    help
      soc name.

# { SRUK-MALI_SYSTRACE_SUPPORT
config MALI_SYSTRACE_SUPPORT
    bool "Enable Exynos systrace Debug support"
    depends on MALI_T8XX
    default y
    help
      Enable systrace marker in kernel
# SRUK-MALI_SYSTRACE_SUPPORT }

config MALI_SEC_HWCNT
    bool "Enable sec hwcnt feature"
    depends on MALI_T8XX
    default n
    help
      Enable sec hwcnt feature.

config MALI_DVFS
    bool "Enable EXYNOS DVFS"
    depends on MALI_T8XX
    default n
    help
      Choose this option to enable DVFS in the Mali Midgard DDK.

config MALI_RT_PM
    bool "Enable EXYNOS Runtime power management"
    depends on MALI_T8XX
    depends on PM
    default y
    help
      Choose this option to enable runtime power management in the Mali Midgard DDK.

config MALI_EXYNOS_TRACE
    bool "Enable EXYNOS kbase tracing"
    depends on MALI_T8XX
    default y
    help
      Enables tracing in kbase.  Trace log available through
      the "mali_trace" debugfs file, when the CONFIG_DEBUG_FS is enabled

config MALI_DEBUG_SYS
    bool "Enable sysfs for the Mali Midgard DDK "
    depends on MALI_T8XX && SYSFS
    default y
    help
      Enables sysfs for the Mali Midgard DDK. Set/Monitor the Mali Midgard DDK

config MALI_SEC_CL_BOOST
    bool "Enable EXYNOS cl booster"
    depends on MALI_T8XX
    default y
    help
      Enables open cl dvfs booster.


config MALI_SEC_UTILIZATION
    bool "Enable EXYNOS custom utilization"
    depends on MALI_T8XX
    default y
    help
      Enables exynos custom utilization.

config MALI_PM_QOS
    bool "Enable DVFS with QoS"
    depends on MALI_T8XX && MALI_DVFS && PM_DEVFREQ && CPU_FREQ
    default y
    help
      Choose this option to enable PM_QOS in the Mali tMIX DDK.

config MALI_BTS_OPTIMIZATION
    bool "Enable GPU BTS"
    depends on MALI_DVFS
    default n
    help
      Choose this option to enable BTS in the Mali tMIX DDK.

config MALI_DEBUG_KERNEL_SYSFS
   bool "Support Kernel Group Debug SysFS"
   depends on MALI_T8XX && MALI_DEBUG_SYS
   default n
   help
	   Support Support Kernel Group Debug SysFS on /sys/kernel/gpu

config MALI_EXYNOS_SECURE_RENDERING
    bool "Enable EXYNOS Secure Rendering Support"
    depends on MALI_T8XX && ION_EXYNOS && EXYNOS_CONTENT_PATH_PROTECTION
    default n
    help
      Support Secure Rendering on Exynos SoC

config MALI_SEC_ASP_SECURE_BUF_CTRL
    bool "Enable EXYNOS Secure Rendering whit ASP Support"
    depends on MALI_T8XX && MALI_EXYNOS_SECURE_RENDERING && ION_EXYNOS && EXYNOS_CONTENT_PATH_PROTECTION
    default n
    help
      Support Secure Rendering with ASP on Exynos SoC

config MALI_SEC_JOB_STATUS_CHECK
	bool "Enable GPU JOB & FENCE STATUS DUMP "
	depends on MALI_RT_PM && MALI_DVFS && (SYNC || SYNC_FILE)
	default y
	help
	  Choose this option to enable job & fence status dump feature in the Mali Midgard DDK.
