#
# BTS driver configuration
#

menuconfig EXYNOS_BTS
	bool "BTS driver support"
	default y
	help
	  Enable BTS (Bus traffic shaper) support

if EXYNOS_BTS

config EXYNOS8890_BTS
	bool "Bus traffic shaper support"
	default y
	depends on SOC_EXYNOS8890
	help
	  Enable BTS (Bus traffic shaper) support

config EXYNOS8890_BTS_OPTIMIZATION
	bool "Bus traffic shaper optimization mode"
	default n
	depends on EXYNOS8890_BTS
	help
	  Enable BTS (Bus traffic shaper) optimized set
endif
