/*
 * SAMSUNG UNIVERSAL8890 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;
#include "exynos8890-herolte_common.dtsi"
#include "exynos8890-haechilte_kor_gpio_02.dtsi"
#include "exynos8890-haechilte_battery_kor_00.dtsi"
#include "exynos8890-sound-cs47l91.dtsi"
#include "exynos8890-haechilte-sound.dtsi"
#include "exynos8890-luckylte_mst.dtsi"
#include "exynos8890-haechilte_display_00.dtsi"
#include "exynos8890-haechilte_motor.dtsi"
#include "exynos8890-haechilte_svcled.dtsi"

/ {
	model = "Samsung UNIVERSAL8890 board based on EXYNOS8890";
	model_info-chip = <8890>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <3>;
	model_info-hw_rev_end = <3>;
	compatible = "samsung,exynos8890", "samsung,UNIVERSAL8890";

	audio_pdata {
		compatible = "samsung,audio-pdata";

		imp_table_CAN = <
			/* min      max gain */
			   0         13    0
			  14         42    8
			  43        100   11
			 101        200   14
			 201        450   15
			 451       1000   15
			1001 0x7fffffff   11
		>;

		seamless_voicewakeup;
		status = "okay";
	};

	pinctrl@10580000 {
		codec_irq: codec-irq {
			samsung,pins = "gpa2-6";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
		};
		max98506_ctrl_1: max98506-ctl-1 {
			samsung,pins ="gpa2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};
		max98506_ctrl_2: max98506-ctl-2 {
			samsung,pins ="gpa2-0";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@136D0000 {
		max98506_i2c: max98506-i2c {
			samsung,pins = "gpd1-0", "gpd1-1";
			samsung,pin-pud = <0>;
			status = "okay";
		};
	};

	hsi2c@10550000{
		status = "okay";

		s2mps16_pmic@66 {
			regulators {
				ldo32_reg: LDO32 {
					regulator-name = "tsp_io";
					regulator-min-microvolt = <1850000>;
					regulator-max-microvolt = <1850000>;
				};

				ldo33_reg: LDO33 {
					regulator-name = "tsp_avdd";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};
			};
		};
	};

	hsi2c@13690000 {
		status = "okay";

		max77838@60 {
			regulators {
				ldo2: LDO2 {
					regulator-name = "HRM_1.8V_AP";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};
				ldo4: LDO4 {
					regulator-name = "HRM_3.3V_AP";
					regulator-min-microvolt = <3300000>;
					regulator-max-microvolt = <3300000>;
				};
			};
		};
	};

	pinctrl@14CC0000 {
		codec_reset: codec-reset {
			samsung,pins ="gpe6-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <1>;
			samsung,pin-val = <0>;
		};
	};

	hsi2c@13650000 {
		status = "okay";

		max77854@66 {
			status = "okay";
		};
	};

	hsi2c@14E10000 {
		touchscreen@48{
			status = "disabled";
		};

		touchscreen@49{
			status = "okay";
			stm,tspid_gpio = <&gpe7 1 0>;
			stm,tspid2_gpio = <&gpe7 2 0>;
			stm,irq_gpio = <&gpa1 0 0>;
			stm,irq_type = <8200>;
			stm,project_name = "PS-LTE", "G880";
			stm,firmware_name = "tsp_stm/fts7bd50_haechi.fw";
		};
	};


	pinctrl@10580000 {
		fmradio_irq: fmradio-irq {
			samsung,pins = "gpa3-5";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <1>;
			samsung,pin-drv = <0>;
		};
	};

	hsi2c@14E70000 {
		status = "okay";
		gpios = <&gpe5 2 0 &gpe5 3 0>;

		rtcfmradio@64 {
			compatible = "rtc6213n";
			reg = <0x64>;
			interrupts = <3 0 0>;
			interrupt-parent = <&gpa3>;
			pinctrl-names = "default";
			pinctrl-0 = <&fmradio_irq>;
			fmint-gpio = <&gpa3 5 0>; /* FM_INT */
		};
	};

	hsi2c@14E60000 {
		status = "diabled";

		sx9310-i2c@28 {
			status = "disabled";
		};
	};
	
	/delete-node/ i2c@20;
	
	hsi2c@13670000 {
		/delete-node/ sec-nfc@27;
		/delete-node/ adpd143@64;
		/delete-node/ max86900@51;

		sec-nfc@27 {
			compatible = "sec-nfc";
			reg = <0x27>;
			interrupts = <0 0 0>;
			interrupt-parent = <&gpa0>;

			sec-nfc,ven-gpio = <&gpi2 7 0>;
			sec-nfc,irq-gpio = <&gpa0 0 0>;
			sec-nfc,firm-gpio = <&gpe7 0 0>;
			sec-nfc,clk_req-gpio = <&gpa2 7 0xf>;
			sec-nfc,clk_use = <2>;
			sec-nfc,nfc_pvdd = "VDD_NFC_1P8";
			pinctrl-names = "default";
			pinctrl-0 = <&nfc_n5_en &nfc_n5_firm>;
			clocks = <&clock 1000>;
			clock-names = "oscclk_nfc";
			sec-nfc,nfc_ap_clk;
			sec-nfc,ldo_control;
		};
	};

	spi_3: spi@14d50000 {
		status = "disabled";
	};

	sec_thermistor@0 {
                compatible = "samsung,sec-ap-thermistor";
                status = "okay";

                adc_array = <300 309 317 326 334 343 354 365 375 386
                          397 412 426 441 456 471 485 500 515 529
                          544 562 580 598 616 634 657 679 702 724
                          747 773 799 824 850 876 905 934 963 992
                          1021 1056 1091 1125 1160 1195 1229 1262 1296 1329
                          1363 1401 1439 1476 1514 1552 1600 1648 1696 1744
                          1792 1836 1880 1924 1968 2012 2055 2099 2143 2187
                          2231 2281 2331 2381 2431 2482 2532 2582 2632 2682
                          2732 2773 2813 2854 2894 2935 2974 3013 3053 3092
                          3131 3165 3199 3234 3268 3302 3331 3359 3388 3416
                          3445 3469 3493 3517 3541 3565 3588 3612 3636 3660
                          3684>;
                temp_array = <900 890 880 870 860 850 840 830 820 810
                        800 790 780 770 760 750 740 730 720 710
                        700 690 680 670 660 650 640 630 620 610
                        600 590 580 570 560 550 540 530 520 510
                        500 490 480 470 460 450 440 430 420 410
                        400 390 380 370 360 350 340 330 320 310
                        300 290 280 270 260 250 240 230 220 210
                        200 190 180 170 160 150 140 130 120 110
                        100 90 80 70 60 50 40 30 20 10
                        0 (-10) (-20) (-30) (-40) (-50) (-60) (-70) (-80) (-90)
                        (-100)(-110)(-120)(-130)(-140)(-150)(-160)(-170)(-180)(-190)
                        (-200)>;

                io-channels = <&exynos_adc 0>;
                io-channel-names = "adc-ap-temp";
                io-channel-ranges;
	};

	sec_thermistor@2 {
                compatible = "samsung,sec-pa-thermistor";
                status = "okay";

                adc_array = <309 318 327 335 344 353 364 375 386 397
                        408 423 437 452 466 481 496 510 525 539
                        554 574 593 613 632 652 674 696 719 741
                        763 789 815 840 866 892 921 951 980 1010
                        1039 1074 1109 1143 1178 1213 1247 1281 1316 1350
                        1384 1420 1457 1493 1530 1566 1614 1662 1709 1757
                        1805 1849 1893 1937 1981 2026 2070 2114 2158 2202
                        2246 2296 2346 2397 2447 2497 2547 2597 2648 2698
                        2748 2789 2830 2872 2913 2954 2992 3029 3067 3104
                        3142 3177 3211 3246 3280 3315 3345 3375 3404 3434
                        3464 3487 3509 3532 3555 3578 3600 3623 3646 3668
                        3691>;
                temp_array = <900 890 880 870 860 850 840 830 820 810
                        800 790 780 770 760 750 740 730 720 710
                        700 690 680 670 660 650 640 630 620 610
                        600 590 580 570 560 550 540 530 520 510
                        500 490 480 470 460 450 440 430 420 410
                        400 390 380 370 360 350 340 330 320 310
                        300 290 280 270 260 250 240 230 220 210
                        200 190 180 170 160 150 140 130 120 110
                        100 90 80 70 60 50 40 30 20 10
                        0 (-10) (-20) (-30) (-40) (-50) (-60) (-70) (-80) (-90)
                        (-100)(-110)(-120)(-130)(-140)(-150)(-160)(-170)(-180)(-190)
                        (-200)>;

                io-channels = <&exynos_adc 2>;
                io-channel-names = "adc-pa-temp";
                io-channel-ranges;
        };

	pinctrl@10580000 {
		key_back: key-back {
			samsung,pins = "gpa1-2";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		key_recent: key-recent {
			samsung,pins = "gpa1-1";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		key_hot: key-hot {
			samsung,pins = "gpa1-7";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
		key_emergency: key-emergency {
			samsung,pins = "gpa1-3";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;

		};
	};

	gpio_keys {
		status = "okay";
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&key_power &key_voldown &key_volup &key_home &key_back &key_recent &key_hot &key_emergency>;
		button@1 {
			label = "gpio-keys: KEY_POWER";
			interrupts = <4 0 0>;
			interrupt-parent = <&gpa2>;
			linux,code = <116>;
			gpios = <&gpa2 4 0xf>;
			gpio-key,wakeup = <1>;
		};
		button@2 {
			label = "gpio-keys: KEY_VOLUMEDOWN";
			interrupts = <4 0 0>;
			interrupt-parent = <&gpa0>;
			linux,code = <114>;
			gpios = <&gpa0 4 0xf>;
		};
		button@3 {
			label = "gpio-keys: KEY_VOLUMEUP";
			interrupts = <3 0 0>;
			interrupt-parent = <&gpa0>;
			linux,code = <115>;
			gpios = <&gpa0 3 0xf>;
		};
		button@4 {
			label = "gpio-keys: KEY_HOMEPAGE";
			interrupts = <5 0 0>;
			interrupt-parent = <&gpa0>;
			linux,code = <172>;
			gpios = <&gpa0 5 0xf>;
			gpio-key,wakeup = <1>;
		};
		button@5 {
			label = "gpio-keys: KEY_BACK";
			interrupts = <2 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <158>;
			gpios = <&gpa1 2 0xf>;
		};
		button@6 {
			label = "gpio-keys: KEY_RECENT";
			interrupts = <1 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <254>;
			gpios = <&gpa1 1 0xf>;
		};
		button@7 {
			label = "gpio-keys: KEY_HOT";
			interrupts = <7 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <252>;
			gpios = <&gpa1 7 0xf>;
			gpio-key,wakeup = <1>;
		};
		button@8 {
			label = "gpio-keys: KEY_EMERGENCY";
			interrupts = <3 0 0>;
			interrupt-parent = <&gpa1>;
			linux,code = <672>;
			gpios = <&gpa1 3 0xf>;
			gpio-key,wakeup = <1>;
		};
	};

	spi_1: spi@14d30000 {
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&spi1_mosi_sck_ssn &spi1_miso>;

		num-cs = <1>;
		status = "okay";

		BCM4773@0 {
			compatible = "ssp,BCM4773";
			reg = <0>;
			spi-max-frequency = <26000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_host_req &ssp_mcu_req &ssp_mcu_resp &ssp_batch_wake_irq>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp-host-req = <&gpa3 4 0x00>;
			ssp-mcu-req = <&gpe6 4 0x00>;
			ssp-mcu-resp = <&gpg0 2 0x00>;
			ssp-batch-wake-irq = <&gpa3 1 0x00>;
			ssp-acc-position = <1>;
			ssp-mag-position = <1>;
			ssp-sns-combination = <0>;
			ssp,prox-hi_thresh = <2000>;
			ssp,prox-low_thresh = <1400>;
			ssp-ap-rev = <1>;
			ssp-mag-array = /bits/ 8 <249 81 35 102 16 114 0 2 212 54 221 239 228 254 0 95 0 65 111 121 192 251 15 229 10 79 120>;
			ssp-glass-type = <0>;
			ssp-mag-type = <1>;
			ssp-vdd-mcu-1p8 = "vdd_mcu_1p8";

			controller-data {
				cs-gpio = <&gpe2 5 0>;
				samsung,spi-feedback-delay = <0>;
				};
			};
	};

	bluetooth {
	compatible = "broadcom,bcm4359";
	gpios = <&gpj1 7 0	/*BT_EN*/
		&gpi2 3 0	/*BT_WAKE*/
		&gpa2 3 0xF	/*BT_HOST_WAKE*/ >;
	pinctrl-names = "default";
	pinctrl-0=<&bt_hostwake &bt_btwake &bt_en>;
	status = "okay";
	};

	gps {
		compatible = "samsung,exynos54xx-bcm4753";

		pinctrl-names = "default";
		//pinctrl-0 = <&ssp_gps_pwr_en &ssp_host_wake>;
		pinctrl-0 = <&ssp_gps_pwr_en>;

		gpios = <&gpb1 1 0x0
			      //&gpa3 1 0x0
				>;
		status = "okay";
	};
	hsi2c@10550000{
		status = "okay";
		s2mps16_pmic@66 {
			regulators {
				ldo35_reg: LDO35 {
					regulator-name = "vdd_mcu_1p8";
					regulator-min-microvolt = <1800000>;
					regulator-max-microvolt = <1800000>;
				};
			};
		};
	};

	pinctrl@10580000 {
		tflash_en: tfalsh-en {
			samsung,pins = "gpa3-7";
			samsung,pin-pud = <0>;
		};
		dock_int_ap: dock-int-ap {
			samsung,pins = "gpa2-1";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@15690000 {
		sd2_clk: sd2-clk {
			samsung,pins = "gpj0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sd2_bus1: sd2-bus-width1 {
			samsung,pins = "gpj0-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};

		sd2_bus4: sd2-bus-width4 {
			samsung,pins = "gpj0-4", "gpj0-5", "gpj0-6";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <2>;
		};
	};

	hsi2c@13650000 {
		status = "okay";

		max77854@66 {
			pinctrl-names = "default";
			pinctrl-0 = <&max77854_irq &pwm_tout1 &dock_int_ap>;
		};
	};

	muic {
		status = "okay";
		muic,dock_int_ap = <&gpa2 1 0>;
		muic,support-list-variant = "+Pogo dock:XXX";
	};

	pinctrl@14CA0000 {
                fimc_is_flash1_host: fimc-is-flash1-host {
                        samsung,pins = "gpf3-3";
                        samsung,pin-function = <1>;
                        samsung,pin-pud = <0>;
                        samsung,pin-drv = <0>;
                };

                fimc_is_flash1_in: fimc-is-flash1-in {
                        samsung,pins = "gpf3-3";
                        samsung,pin-function = <0>;
                        samsung,pin-pud = <1>;
                        samsung,pin-drv = <0>;
                };
	};

	hsi2c@13680000 {
		s2mpb02_pmic@59 {
			torch {
				leds2 {
					use_torch_current_value;
					torch_current_value = <0x9>;
					factory_torch_current_value = <0xc>;
				};
				leds3 {
					ledname = "torch-sec2";
					/* S2MPB02_TORCH_LED_2 */
					id = <2>;
					/* S2MPB02_TORCH_CURRENT */
					brightness = <0x9>;
					/* S2MPB02_TORCH_TIMEOUT */
					timeout = <0xF>;
					use_torch_current_value;
					torch_current_value = <0x9>;
					factory_torch_current_value = <0xc>;
				};
			};
		};
	};

	leds_ktd2692 {
		compatible = "ktd2692";
		flash_control = <&gpf3 3 0x1>;
		status = "okay";
		pinctrl-names ="default","host","idle";
		pinctrl-0 = <&fimc_is_flash1_in>;
		pinctrl-1 = <&fimc_is_flash1_host>;
		pinctrl-2 = <&fimc_is_flash1_in>;
		torch_current_value = <0x5>;
		factory_torch_current_value = <0x7>;
		torch_table = <0 1 2 2 3 3 4 4 4 4>;
	};

	hall {
		status = "disabled";
	};

	certify_hall {
		status = "disabled";
	};

	hsi2c@13640000 {
		status = "okay";
		max98506@31 {
			compatible = "maxim,max98506";
			reg = <0x31>;
			pinctrl-names = "default";
			pinctrl-0 = <&max98506_i2c &max98506_ctrl_1 &max98506_ctrl_2>;
			gpios = <&gpd1 0 0
				&gpd1 1 0
				>;
			i2c-gpio,delay-us = <2>;
			maxim,platform_type = <0>;
			maxim,spk-gain = <0x14>;
			maxim,sysclk = <12288000>;
			maxim,vmon_slot = <0>;
			maxim,interleave = <1>;
			maxim,platform_info = <0 0x4000 0x0F010203 0x0FF10203 0x00000000 50>;
			maxim,boost_step = <
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x02 0x00
						>;
			maxim,adc_threshold = <7>;
			maxim,registers-of-amp =
				<0x1F 0x00>,
				<0x21 0xC0>,
				<0x2F 0x00>;
			maxim,sub_reg = <0x34>;
		};
	};
};
