/*
 * SAMSUNG UNIVERSAL8890 board device tree source
 *
 * Copyright (c) 2013 Samsung Electronics Co., Ltd.
 *		http://www.samsung.com
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos8890-herolte_common.dtsi"
#include "exynos8890-hero2lte_gpio_03.dtsi"
#include "exynos8890-hero2lte_battery_eur_03.dtsi"
#include "exynos8890-sound-cs47l91.dtsi"
#include "exynos8890-luckylte_mst.dtsi"
#include "exynos8890-hero2lte_fingerprint-sensor_03.dtsi"
#include "exynos8890-hero2lte_display_00.dtsi"
#include "exynos8890-hero2lte_motor.dtsi"
#include "exynos8890-hero2lte_svcled.dtsi"

/ {
	model = "Samsung UNIVERSAL8890 board based on EXYNOS8890";
	model_info-chip = <8890>;
	model_info-platform = "android";
	model_info-subtype = "samsung";
	model_info-hw_rev = <3>;
	model_info-hw_rev_end = <3>;
	compatible = "samsung,exynos8890", "samsung,UNIVERSAL8890";

	audio_pdata {
		compatible = "samsung,audio-pdata";

		imp_table_CAN = <
			/* min      max gain */
			   0         13    0
			  14         42    8
			  43        100   11
			 101        200   14
			 201        450   15
			 451       1000   15
			1001 0x7fffffff   11
		>;

		seamless_voicewakeup;
		status = "okay";
	};

	pinctrl@10580000 {
		codec_irq: codec-irq {
			samsung,pins = "gpa2-6";
			samsung,pin-function = <0xf>;
			samsung,pin-pud = <0>;
		};
		max98506_ctrl: max98506-ctl {
			samsung,pins ="gpa2-2";
			samsung,pin-function = <0>;
			samsung,pin-pud = <0>;
			samsung,pin-con-pdn =<2>;
			samsung,pin-pud-pdn = <0>;
		};
	};

	pinctrl@136D0000 {
		max98506_i2c: max98506-i2c {
			samsung,pins = "gpd1-0", "gpd1-1";
			samsung,pin-pud = <0>;
			status = "okay";
		};
	};

	pinctrl@14CC0000 {
		codec_reset: codec-reset {
			samsung,pins ="gpe6-5";
			samsung,pin-function = <1>;
			samsung,pin-pud = <1>;
			samsung,pin-con-pdn =<3>;
			samsung,pin-pud-pdn = <1>;
			samsung,pin-val = <0>;
		};
	};

	hsi2c@13650000 {
		status = "okay";

		max77854@66 {
			status = "okay";
		};
	};

	hsi2c@14E10000 {
		touchscreen@48{
			sec,ds_det = <&gpi2 2 0>;
			sec,firmware_name = "tsp_sec/hero_ub.bin";
			sec,project_name = "HERO2", "G935";
		};
	};

	hsi2c@13640000 {
		status = "okay";
		max98506@31 {
			compatible = "maxim,max98506";
			reg = <0x31>;
			pinctrl-names = "default";
			pinctrl-0 = <&max98506_i2c &max98506_ctrl>;
			gpios = <&gpd1 0 0
				&gpd1 1 0
				>;
			i2c-gpio,delay-us = <2>;
			maxim,platform_type = <0>;
			maxim,spk-gain = <0x14>;
			maxim,sysclk = <12288000>;
			maxim,vmon_slot = <0>;
			maxim,platform_info = <0 0x4000 0x0F010203 0x0FF10203 0x00000000 40>;
			maxim,boost_step = <
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x0F 0x0F
						0x0F 0x0F 0x02 0x00
						>;
			maxim,adc_threshold = <7>;
			maxim,registers-of-amp =
				<0x1F 0x00>,
				<0x21 0xC0>,
				<0x2F 0x00>;
		};
	};

	spi_1: spi@14d30000 {
		#address-cells = <1>;
		#size-cells = <0>;

		pinctrl-names = "default";
		pinctrl-0 = <&spi1_mosi_sck_ssn &spi1_miso>;

		num-cs = <1>;
		status = "okay";

		BCM4773@0 {
			compatible = "ssp,BCM4773";
			reg = <0>;
			spi-max-frequency = <26000000>;
			spi-cpol;
			spi-cpha;
			pinctrl-names = "default";
			pinctrl-0 = <&ssp_host_req &ssp_mcu_req &ssp_mcu_resp &ssp_batch_wake_irq>;

			gpio-controller;
			#gpio-cells = <2>;
			ssp-host-req = <&gpa3 4 0x00>;
			ssp-mcu-req = <&gpe6 4 0x00>;
			ssp-mcu-resp = <&gpg0 2 0x00>;
			ssp-batch-wake-irq = <&gpa3 1 0x00>;
			ssp-acc-position = <7>;
			ssp-mag-position = <4>;
			ssp-sns-combination = <0>;
			ssp,prox-hi_thresh = <2000>;
			ssp,prox-low_thresh = <1400>;
			ssp-ap-rev = <1>;
			ssp-mag-array = <10020 179 181 230 9097 (-150) (-179) 189 10850>;
			ssp-glass-type = <1>;

			controller-data {
				cs-gpio = <&gpe2 5 0>;
				samsung,spi-feedback-delay = <0>;
				};
			};
	};

	gps {
		compatible = "samsung,exynos54xx-bcm4753";

		pinctrl-names = "default";
		//pinctrl-0 = <&ssp_gps_pwr_en &ssp_host_wake>;
		pinctrl-0 = <&ssp_gps_pwr_en>;

		gpios = <&gpb1 1 0x0
			      //&gpa3 1 0x0
				>;
		status = "okay";
	};

	pinctrl@14CC0000 {
		tflash_en: tfalsh-en {
			samsung,pins = "gpe0-5";
			samsung,pin-pud = <0>;
		};
	};

	pinctrl@136D0000 {
		fimc_is_mclk0_fn: fimc_is_mclk0_fn {
			samsung,pins = "gpk0-0";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <1>;
		};

		fimc_is_mclk2_fn: fimc_is_mclk2_fn {
			samsung,pins = "gpk0-2";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <0>;
		};
	};

	pinctrl@15690000 {
		sd2_bus1: sd2-bus-width1 {
			samsung,pins = "gpj0-3";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <1>;
		};

		sd2_bus4: sd2-bus-width4 {
			samsung,pins = "gpj0-4", "gpj0-5", "gpj0-6";
			samsung,pin-function = <2>;
			samsung,pin-pud = <0>;
			samsung,pin-drv = <1>;
		};
	};
};
