#
# (C) COPYRIGHT 2012-2013 ARM Limited. All rights reserved.
#
# This program is free software and is provided to you under the terms of the
# GNU General Public License version 2 as published by the Free Software
# Foundation, and any use by you of this program is subject to the terms
# of such GNU licence.
#
# A copy of the licence is included with the program, and can also be obtained
# from Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
# Boston, MA  02110-1301, USA.
#
#
config DDK_VERSION_OS
	string "version"
	default ANDROID_MAJOR_VERSION
	help
		Android OS major version

menuconfig MALI_T8XX
	tristate "Mali-T8XX support"
	default y
	help
	  Enable this option to build support for the ARM Mali-T7xx GPU.

	  To compile this driver as a module, choose M here:
	  this will generate a single module, called mali_kbase.

choice
	prompt "version Configuration"
	depends on MALI_T8XX
	default MALI_R12P0 if DDK_VERSION_OS = "m"
	default MALI_R12P0 if DDK_VERSION_OS = "n"
	default MALI_R22P0 if DDK_VERSION_OS = "o"
	help
	  Select the gpu support version.

config MALI_R7P0
	depends on MALI_T8XX
	bool "r7p0 driver"

config MALI_R9P0
	depends on MALI_T8XX
	bool "r9p0 driver"

config MALI_R12P0
	depends on MALI_T8XX
	bool "r12p0 driver"

config MALI_R15P0
	depends on MALI_T8XX
	bool "r15p0 driver"

config MALI_R22P0
	depends on MALI_T8XX
	bool "r22p0 driver"

endchoice
	

if MALI_R7P0
	source "drivers/gpu/arm/t8xx/r7p0/Kconfig"
endif

if MALI_R9P0
	source "drivers/gpu/arm/t8xx/r9p0/Kconfig"
endif

if MALI_R12P0
	if DDK_VERSION_OS = "n"
	source "drivers/gpu/arm/t8xx/r12p0_n/Kconfig"
	endif
	if DDK_VERSION_OS = "m"
	source "drivers/gpu/arm/t8xx/r12p0_m/Kconfig"
	endif
endif

if MALI_R15P0
	source "drivers/gpu/arm/t8xx/r15p0/Kconfig"
endif

if MALI_R22P0
	source "drivers/gpu/arm/t8xx/r22p0/Kconfig"
endif
